<div class="jumbotron">
    <div class="container">
        <div>
            <img src="assets/images/piquil-light.png" width="50%">
        </div>
    </div>
</div>

<div class="about index-container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>About</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p>
                    <strong>Perimeter Institute Quantum Intelligence Lab (PIQuIL)</strong> is a research centre and training hub for future
                    leaders at the intersections of artificial intelligence and quantum systems. With partners in academia,
                    industry, and government, PIQuIL leverages the world-class scientists and resources of Perimeter
                    Institute to catalyze leading-edge, multidisciplinary research.
                </p>
            </div>

            <div class="col-4">
                <img src="assets/images/group_photo.png">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{{ site.baseurl }}/about">Read more</a>
            </div>
        </div>
    </div>
</div>
