<!-- Footer -->
<!-- Footer -->
<footer class="page-footer footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5>Contact Information</h5>
          <p>Roger Melko</p>
          <p>Email: <a href="mailto:rgmelko@uwaterloo.ca">rgmelko@uwaterloo.ca</a></p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <div class="address">
            <h5 class="text-uppercase">Address</h5>
            <p>Communitech Data Hub</p>
            <p>Perimeter Institute Quantum Intelligence Lab</p>
            <p>N2L 1S7</p>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
  {% include footer_scripts.html %}