<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="{{ page.body-class }}">
        {% include header.html %}

        <div class="main-background {{ page.background-class }}"></div>

        {% include banner.html %}

        <div class="leadership index-container">
            <div class="container">
                <h3>Scientific Leadership</h3>
        
                {% include leadership.html %}
            </div>
        </div>

        <div class="research index-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Research Topic</h3>
                    </div>

                    <div class="col-md-3" style="margin: auto">
                        <a href="#"><i class="fa fa-arrow-right"></i> &nbsp; Publications</a>
                    </div>
                </div>
                <p>
                    Performing quantum state and process tomography on near-term quantum devices,
                    using new neural network strategies Identification of unconventional order,
                    including topological phases, many-body localized states, and their associated phase
                    transitions, using machine learning techniques.
                </p>

                <p>
                    The use of neural networks for decoding and quantum error correction. Theoretically
                    exploring the capability of shallow and deep neural networks for the efficient
                    representation of quantum wavefunctions.
                </p>

                <p>
                    Developing a theoretical understanding of deep learning and its relationship to the information
                    bottleneck, phase transitions, critical slowing down, and the renormalization group
                </p>
            </div>
        </div>

        <div class="software index-container">
            <div class="container">
                <h3>Software</h3>
                
                <div class="card-group">
                    <div class="card">
                      <div class="logo">
                        <img src="http://yaoquantum.org/assets/images/logo.png" class="card-img-top" alt="yao" style="width: 40%">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"> <a href="http://yaoquantum.org/">Yao Framework</a> </h5>
                        <p class="card-text">Efficient Extensible Quantum Algorithm Design For Humans.</p>
                      </div>
                    </div>
                    <div class="card">
                        <div class="logo" style="margin-top: 42px; margin-bottom: 42px;">
                            <img src="https://raw.githubusercontent.com/PIQuIL/QuCumber/master/docs/_static/img/QuCumber_full.png" class="card-img-top" alt="QuCumber">
                        </div>

                      <div class="card-body">
                        <h5 class="card-title"> <a href="https://github.com/PIQuIL/QuCumber">QuCumber</a> </h5>
                        <p class="card-text">A Quantum Calculator Used for Many-body Eigenstate Reconstruction.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="partner index-container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Partner</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="https://1qbit.com/">
                            <img src="assets/images/1qbit.png" style="padding-top: 1.5em;">
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://uwaterloo.ca/">
                            <img src="assets/images/uwlogo.jpg" style="padding-top: 1.5em;">
                        </a>
                    </div>

                    <div class="col">
                        <a href="https://nrc.canada.ca/en">
                            <img src="assets/images/nrc.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
